.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 20px;
    height: 10vh;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.branding h1{
    font-weight: 700;
    font-size: 32px;
}
.branding a{
    text-decoration: none;
    color: black;
}
.branding span{
    font-family: "philosopher", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    color: rgb(39, 31, 192);
    display: inline-block;
}
.options ul{
    display: flex;
    list-style-type: none;
}
.options li{
    padding: 20px;
    font-size: 18px;
}